@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .titulo {
        width: 50%;
        font-size: 40px;
    }

    .filme-principal .descricao {
        font-size: 15px;
        width: 50%;
    }
    
    .botao{
        margin-top: 5px;
        width: 300px;
        height: 60px;

        padding: 8px 15px;
        margin-right: 8px;
        font-size: 12px;
    }
}

@media screen and (max-width:300px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .titulo {
        width: 50%;
        font-size: 25px;
    }

    .filme-principal .descricao {
        font-size: 10px;
        width: 30%;
    }
    
    .botoes {
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 160px;
        height: 60px;

        padding: 8px 15px;
        margin-right: 8px;
        font-size: 12px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}
